body {
    font-family: arial, sans-serif;
    background-color: #fff;;
    margin: auto;
    width: 75%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

form {
    display: inline-block;
}

button {
    background-color: #ddd;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #ddd;
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:hover {
    background-color: #ffff00;
}

.exceed {
    background-color: #ff0000;
}

.tableDiv {
    overflow-x: auto;
}

#totalMonthly{
    text-align: right;
}

.content {
    margin: auto;
    width: 95%;
}