body {
    font-family: arial, sans-serif;
    background-color: #fff;;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

h1, h2 {
    margin: 0;
}

#addEmployeeHeader {
    text-align: center;
    padding: 20px 0px;
    background-color: #666;
    color: #fff;
}

#employeesHeader {
    text-align: center;
    padding: 20px 0px;
}

input {
    width: 75%;
    margin: 0px 0px 15px 20px;    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

label {
    margin: 0px 0px 0px 15px;    
    padding: 10px 10px 10px 0;
    display: block;
}

button {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

input[type=submit] {
    background-color: #333;
    color: white;
    cursor: pointer;
    margin: 0px 0px 15px 20px;    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #ddd;
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:hover {
    background-color: #ffff00;
}

.exceed {
    background-color: #ff0000;
}

.tableDiv {
    margin: 0px 20px;
    float: left;
    width: 70%;
    overflow-x: auto;
}

#totalMonthly{
    margin-top: 20px;
    text-align: right;
}

.content {
    margin: auto;
}

.col-25 {
    float: left;
    width: 25%;
    background-color: #ddd;
}